<div class="container">
  
    <div class="col-md-12"> 
      <div class="row">
        <div class="col-sm">
        <h4>Book Content List</h4>
      </div>
    </div>
    <br>
        <div class="row">
          <div class="col-sm">
            <div class="input-group">
              <a href="#" routerLink="./create" class="btn btn-success">Add Book Content</a>
            </div>
          </div>
          <div class="col-sm">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
       </div>
          </div>
        </div>
        <br>
        <div class="row">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Content</th>
            <th scope="col">Page Number</th>
            <th scope="col" width="220px">Action</th>
          </tr>
        </thead> <tbody>
          <tr *ngFor=" let content of bookContent | filter:term | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count };
          let i = index" [class.active]="i == currentIndex">
            <td>{{ content.bookName }}</td>
            <td>{{ content.content }}</td>
            <td>{{ content.pageNumber }}</td>
            <td>
              <a href="#" routerLink="edit/{{content.id}}" class="btn btn-primary">Edit</a>
              <button type="button" (click)="deleteContent(content.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
        <div class="row">
          <div class="col-8">
          </div>
          <div class="col-4">
            
        <div class="d-flex justify-content-center">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="handlePageChange($event)">
          </pagination-controls>
          </div>
        </div>
      </div>
      </div>
      </div>