<div class="container">
    <h4>Add Book</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <label for="title">Book Name:</label>
      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Book Name is required!</div>
      </div><div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div class="text-danger" *ngIf="form.controls['name'].hasError('pattern')">
          Whitespace is not allowed!
        </div>
      </div> 
    </div>
        <div class="form-group">
          <label for="title">Select Category:</label>
          <select class="custom-select" name="categoryid" formControlName="categoryid">
            <option value="" class="text-primary font-weight-bolder">
              --- Select Category ---
            </option>
            <option *ngFor="let item of categories" [value]="item.id">
              {{item.name}}
            </option>
          </select>
          <div class="text-danger" *ngIf="submitted && handleError('categoryid', 'required')">
            Category is Required
          </div>
        </div>
        <div class="form-group">
          <label for="title">Select Author:</label>
          <select class="custom-select" name="authorid" formControlName="authorid">
            <option value="" class="text-primary font-weight-bolder">
              --- Select Author ---
            </option>
            <option *ngFor="let item of authors" [value]="item.id">
              {{item.name}} {{item.surname}}
            </option>
          </select>
          <div class="text-danger" *ngIf="submitted && handleError('authorid', 'required')">
            Author is Required
          </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success"> Save </button>
           <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
      </form>
  
      <div *ngIf="isBookAdded">
        <h3>New book added!</h3>
      </div>   
</div>