<div class="container">
    <h4>Add Book Content</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Select Book:</label>
        <select class="custom-select" name="bookId" formControlName="bookId">
          <option value="" class="text-primary font-weight-bolder">
            --- Select Book ---
          </option>
          <option *ngFor="let item of books" [value]="item.id">
            {{item.name}}
          </option>
        </select>
        <div class="text-danger" *ngIf="submitted && handleError('bookId', 'required')">
          Book is Required
        </div>
      </div>
      <div class="form-group">
      <label for="title">Book Content:</label>
      <textarea formControlName="content" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
      <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
          <div *ngIf="f.content.errors.required">Content is required!</div>
      </div>
      <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
        <div class="alert alert-danger" *ngIf="form.controls['content'].hasError('maxlength')">
        Content cannot exceed 8000 characters.
    </div>
    </div>
    </div>
    <div class="form-group">
        <label for="title">Page Number:</label>
        <input type="number" formControlName="pageNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pageNumber.errors }" />
      <div *ngIf="submitted && f.pageNumber.errors" class="invalid-feedback">
          <div *ngIf="f.pageNumber.errors.required">Page Number is required!</div>
      </div>
    </div>
       
    <div class="alert alert-warning" *ngIf="isFailed">
      failed!<br />{{ errorMessage }}
    </div>
        <div class="form-group">
            <button class="btn btn-success"> Save </button>
           <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
    </form>
  
      <div *ngIf="isBookContentAdded">
        <h3>New BookContent added!</h3>
      </div>   
</div>