<div class="container">
    <h4>Add Book Content</h4>
    <div *ngIf="!isBookContentAdded">
      <div class="form-group">
        <label for="title">Select Book:</label>
        <select class="custom-select" name="ddlBook" [(ngModel)]="form.bookId" #ddlBook="ngModel" 
        [ngClass]="{ 'is-invalid': form.submitted && ddlBook.invalid }" required>
          <option value="" class="text-primary font-weight-bolder">
            --- Select Book ---
          </option>
          <option *ngFor="let book of books" [value]="book.id">
            {{book.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
      <label for="title">Content:</label>
        <textarea class="form-control" id="content" required [(ngModel)]="form.content" name="content"></textarea>
    </div>
    <div class="form-group">
        <label for="title">Page Number:</label>
        <input type="number" class="form-control" id="pageNumber" required [(ngModel)]="form.pageNumber" name="pageNumber" />
      </div>
       

        <div class="form-group">
            <button class="btn btn-success" (click)="onSubmit()"> Save </button>
           <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
      </div>
  
      <div *ngIf="isBookContentAdded">
        <h3>New BookContent added!</h3>
      </div>   
</div>