<div class="container">
    <h4>Update Category</h4>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Category:</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Category is required</div>
            </div>
            
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div class="text-danger" *ngIf="form.controls['name'].hasError('pattern')">
                  Whitespace is not allowed!
                </div>
              </div> 
        </div>

        <div class="form-group">
            <label for="body">Slug:</label>
            <input formControlName="slug" placeholder="Slug" name="slug" class="form-control" id="slug">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        
        <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
        
    </form>
</div>