<div class="container">
    <h4>Update Book</h4>
  
    <form [formGroup]="editForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="title">Select Category:</label>
            <select formControlName="categoryId" class="custom-select">
                <option *ngFor="let item of categories" [value]="item.id">
                    {{item.name}}
                  </option>
              </select>
          </div>
        <div class="form-group">
            <label for="body">Slug:</label>
            <input formControlName="slug" placeholder="Slug" name="slug" class="form-control" id="slug">
        </div>
        <div class="form-group">
            <label for="body">Slug(From Name):</label>
            <input formControlName="slugName" placeholder="Slug(From Name)" name="slugName" class="form-control" id="slugName">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        
        <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
        
    </form>
</div>