<div class="container">
    <h4>Update Book</h4>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Book Name is required!</div>
            </div>
            <div *ngIf="form.get('name')?.hasError('pattern')" class="invalid-feedback">
              Space is not allow
            </div>
        </div>

        <div class="form-group">
            <label for="title">Select Category:</label>
            <select class="custom-select" name="categoryId" formControlName="categoryId">
                <option value="" class="text-primary font-weight-bolder">
                  --- Select Category ---
                </option>
                <option *ngFor="let item of categories" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
              <div class="text-danger" *ngIf="submitted && handleError('categoryId', 'required')">
                Category is Required
              </div>
          </div>
          <div class="form-group">
            <label for="title">Select Author:</label>
            <select class="custom-select" name="authorId" formControlName="authorId">
                <option value="" class="text-primary font-weight-bolder">
                  --- Select Author ---
                </option>
                <option *ngFor="let item of authors" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
              <div class="text-danger" *ngIf="submitted && handleError('authorId', 'required')">
                Author is Required
              </div>
          </div>
        <div class="form-group">
            <label for="body">Slug:</label>
            <input formControlName="slug" placeholder="Slug" name="slug" class="form-control" id="slug">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        
        <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
        
    </form>
</div>