<div class="container">
    <h4>Add Author</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <label for="title">Name:</label>
      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required!</div>
      </div>
      <div *ngIf="form.get('name')?.hasError('pattern')" class="invalid-feedback">
        Space is not allowed!
      </div>
    </div>
    <div class="form-group">
        <label for="title">Surname:</label>
        <input type="text" formControlName="surName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surName.errors }" />
      <div *ngIf="submitted && f.surName.errors" class="invalid-feedback">
          <div *ngIf="f.surName.errors.required">Sure Name is required!</div>
      </div>
      <div *ngIf="form.get('surName')?.hasError('pattern')" class="invalid-feedback">
        Space is not allowed!
      </div>
      </div>

        <div class="form-group">
            <button class="btn btn-success"> Save </button>
           <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
  
      <div *ngIf="isAuthorAdded">
        <h3>New Author added!</h3>
      </div> 
      </form>  
</div>