<div class="col-md-12">
    <div class="card card-container">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
       
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
         <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="form.confirmPassword" required minlength="6" #confirmPassword="ngModel" />
          <div class="alert-danger" *ngIf="confirmPassword.errors && f.submitted">
            <div *ngIf="confirmPassword.errors.required">confirmPassword is required</div>
            <div *ngIf="confirmPassword.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <!--<div class="form-group">
            <label for="firstName">FirstName</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="form.firstName" required minlength="3" maxlength="20" #firstName="ngModel" />
            <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
              <div *ngIf="firstName.errors.required">FirstName is required</div>
              <div *ngIf="firstName.errors.minlength">
                firstName must be at least 3 characters
              </div>
              <div *ngIf="firstName.errors.maxlength">
                FirstName must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">LastName</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="form.lastName" required minlength="3" maxlength="20" #lastName="ngModel" />
            <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
              <div *ngIf="lastName.errors.required">LastName is required</div>
              <div *ngIf="lastName.errors.minlength">
                LastName must be at least 3 characters
              </div>
              <div *ngIf="lastName.errors.maxlength">
                LastName must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfBirth">DateOfBirth</label>
            <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="form.dateOfBirth" required minlength="3" maxlength="20" #dateOfBirth="ngModel" />
            <div class="alert-danger" *ngIf="dateOfBirth.errors && f.submitted">
              <div *ngIf="dateOfBirth.errors.required">Date Of Birth is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="nationality">Nationality</label>
            <input type="text" class="form-control" name="nationality" [(ngModel)]="form.nationality" required minlength="3" maxlength="20" #nationality="ngModel" />
          </div> -->
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>

      <div class="form-group" *ngIf="isSuccessful">
       <button type="button" class="btn btn-warning" (click)="onLogin()">Login</button>
      </div>
  </div>
    </div>